@model List<FirstMVC.Models.Customer>
@{
    ViewBag.Title = "Customer List";
}



<h1>@ViewBag.PageTitle</h1>
<hr />
<h6>@ViewBag.PageTitle</h6>
<br />
<h1>@ViewData["PageTitle"]</h1>
<hr />
<h5>@ViewData["PageSubTitle"]</h5>
<br />
<table class="table table-hover table-striped">
    <thead>
        <tr>
            <th>Customer ID</th>
            <th>Contact Name</th>
            <th>City</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var customer in Model)
        {
            <tr>
                <td>@customer.CustomerId</td>
                <td>@customer.ContactName</td>
                <td>@customer.City</td>
            </tr>
        }
    </tbody>
</table>
<hr />
<table class="table table-hover table-striped">
    <thead>
        <tr>
            <th>Order ID</th>
            <th>Order Date</th>
            <th>Quantity</th>
            <th>Customer ID</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var order in ViewData["Orders"] as List<FirstMVC.Models.Order>)
        {
            <tr>
                <td>@order.OrderId</td>
                <td>@order.OrderDate</td>
                <td>@order.Quantity</td>
                <td>@order.CustomerId</td>
            </tr>
        }
    </tbody>
</table>

